<div *ngIf="validacionUsuario()">
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-header">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" (click)="toggleNavbar()"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="!isCollapsed ? 'show' : 'hide'">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro" routerLinkActive="active" (click)="collapseNavbar()">Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/caja" routerLinkActive="active" (click)="collapseNavbar()">Caja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/busqueda" routerLinkActive="active" (click)="collapseNavbar()">Búsqueda</a>
          </li>
        </ul>
        <img width="65" height="65" src="assets/icondoctor.png" alt="doctor-male--v1" style="margin-left: 10px;" />

      </div>
      <div class="d-flex flex-column align-items-end ms-auto">
        <p class="Bienvenido mb-1">Bienvenid&#64; {{user.nombre}}</p>
        <button class="btn btn-danger btn-sm desktop" type="button" (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
    </div>
  </nav>
</div>
