<div class="d-flex justify-content-between align-items-center">
  <h2>Ficha Médica</h2>
  <button class="btn btn-primary" (click)="toggleAllSections()">
    {{ allSectionsVisible ? 'Ver Pestañas' : 'Ver Todo' }}
  </button>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item" (click)="mostrarSeccion('s1')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s1}" >Datos Generales</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s2')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s2}" >PX Deportivo</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s3')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s3}">Medidas Físicas</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s4')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s4}" >Antecedentes Familiares</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s5')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s5}" >Antecedentes Patológicos</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s6')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s6}" >Antecedentes No Patológicos</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s7')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s7}" >Gineco-obstétricos</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s8')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s8}" >Pediátricos</a>
    </li>
    <li class="nav-item" (click)="mostrarSeccion('s9')" *ngIf="!allSectionsVisible">
      <a class="nav-link" [ngClass]="{'active': showSection.s9}" >Observaciones</a>
    </li>
</ul>

<app-s1datos-generales *ngIf="showSection.s1 || allSectionsVisible"></app-s1datos-generales>
<app-s2px-deportivo *ngIf="showSection.s2 || allSectionsVisible"></app-s2px-deportivo>
<app-s3medidas-fisicas *ngIf="showSection.s3 || allSectionsVisible"></app-s3medidas-fisicas>
<app-s4ant-hfamiliares *ngIf="showSection.s4 || allSectionsVisible"></app-s4ant-hfamiliares>
<app-s5ant-patologicos *ngIf="showSection.s5 || allSectionsVisible"></app-s5ant-patologicos>
<app-s6ant-nopatologicos *ngIf="showSection.s6 || allSectionsVisible"></app-s6ant-nopatologicos>
<app-s7mujer-ant-gine-obt *ngIf="showSection.s7 || allSectionsVisible"></app-s7mujer-ant-gine-obt>
<app-s8pediatrico-antperinatales *ngIf="showSection.s8 || allSectionsVisible"></app-s8pediatrico-antperinatales>
<app-s9observaciones *ngIf="showSection.s9 || allSectionsVisible"></app-s9observaciones>
