<div class="container">
  <h4>Antecedentes Heredofamiliares</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Si / No</th>
        <th>Parentesco</th>
        <th>Especifique</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Diabetes</td>
        <td class="text-center">
            <input type="checkbox" name="diabetesSiNo" [(ngModel)]="formData.diabetesSiNo" (ngModelChange)="limpiar($event, 'diabetes')">
        </td>
        <td><input type="text" class="form-control" name="diabetesParentesco" [(ngModel)]="body.diabetes_p" [disabled]="!formData.diabetesSiNo"
           (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="diabetesEspecifique" [(ngModel)]="body.diabetes_e" [disabled]="!formData.diabetesSiNo"
           (ngModelChange)="guardar()"></td>
    </tr>
      <tr>
        <td>Neurologica</td>
        <td class="text-center">
          <input type="checkbox" name="alergiasSiNo" [(ngModel)]="formData.alergiasSiNo" (ngModelChange)="limpiar($event ,'neurologica')" >
        </td>
        <td><input type="text" class="form-control" name="alergiasParentesco" [(ngModel)]="body.neourologicas_p" [disabled]="!formData.alergiasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="alergiasEspecifique" [(ngModel)]="body.neourologicas_e" [disabled]="!formData.alergiasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>HAS</td>
        <td class="text-center">
          <input type="checkbox" name="accidentesSiNo" [(ngModel)]="formData.hasSiNo" (ngModelChange)="limpiar($event ,'has')">
        </td>
        <td><input type="text" class="form-control" name="accidentesParentesco" [(ngModel)]="body.has_p" [disabled]="!formData.hasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="accidentesEspecifique" [(ngModel)]="body.has_e" [disabled]="!formData.hasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Neoplasias</td>
        <td class="text-center">
          <input type="checkbox" name="neoplasiasSiNo" [(ngModel)]="formData.neoplasiasSiNo" (ngModelChange)="limpiar($event ,'neoplasias')">
        </td>
        <td><input type="text" class="form-control" name="neoplasiasParentesco" [(ngModel)]="body.neoplasias_p" [disabled]="!formData.neoplasiasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="neoplasiasEspecifique" [(ngModel)]="body.neoplasias_e" [disabled]="!formData.neoplasiasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Cardiopatías</td>
        <td class="text-center">
          <input type="checkbox" name="cardiopatiasSiNo" [(ngModel)]="formData.cardiopatiasSiNo" (ngModelChange)="limpiar($event ,'cardiopatias')">
        </td>
        <td><input type="text" class="form-control" name="cardiopatiasParentesco" [(ngModel)]="body.cardiopatias_p" [disabled]="!formData.cardiopatiasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="cardiopatiasEspecifique" [(ngModel)]="body.cardiopatias_e" [disabled]="!formData.cardiopatiasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Reumaticas</td>
        <td class="text-center">
          <input type="checkbox" name="cirugiasSiNo" [(ngModel)]="formData.reumaticasSiNo" (ngModelChange)="limpiar($event ,'reumaticas')">
        </td>
        <td><input type="text" class="form-control" name="cirugiasParentesco" [(ngModel)]="body.reumaticas_p" [disabled]="!formData.reumaticasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="cirugiasEspecifique" [(ngModel)]="body.reumaticas_e" [disabled]="!formData.reumaticasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Respiratorias</td>
        <td class="text-center">
          <input type="checkbox" name="respiratoriasSiNo" [(ngModel)]="formData.respiratoriasSiNo" (ngModelChange)="limpiar($event ,'respiratorias')">
        </td>
        <td><input type="text" class="form-control" name="respiratoriasParentesco" [(ngModel)]="body.respiratorias_p" [disabled]="!formData.respiratoriasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="respiratoriasEspecifique" [(ngModel)]="body.respiratorias_e" [disabled]="!formData.respiratoriasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Geneticas</td>
        <td class="text-center">
          <input type="checkbox" name="reumaticasSiNo" [(ngModel)]="formData.geneticasSiNo" (ngModelChange)="limpiar($event ,'geneticas')">
        </td>
        <td><input type="text" class="form-control" name="reumaticasParentesco" [(ngModel)]="body.geneticas_p" [disabled]="!formData.geneticasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="reumaticasEspecifique" [(ngModel)]="body.geneticas_e" [disabled]="!formData.geneticasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Endonocrilogicas</td>
        <td class="text-center">
          <input type="checkbox" name="endonocrilogicasSiNo" [(ngModel)]="formData.endonocrilogicasSiNo" (ngModelChange)="limpiar($event ,'endonocrilogicas')">
        </td>
        <td><input type="text" class="form-control" name="endonocrilogicasParentesco" [(ngModel)]="body.endonocrilogicas_p" [disabled]="!formData.endonocrilogicasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="endonocrilogicasEspecifique" [(ngModel)]="body.endonocrilogicas_e" [disabled]="!formData.endonocrilogicasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
      <tr>
        <td>Otras</td>
        <td class="text-center">
          <input type="checkbox" name="otrasSiNo" [(ngModel)]="formData.otrasSiNo" (ngModelChange)="limpiar($event ,'otras')">
        </td>
        <td><input type="text" class="form-control" name="otrasParentesco" [(ngModel)]="body.otras_p" [disabled]="!formData.otrasSiNo"
          (ngModelChange)="guardar()"></td>
        <td><input type="text" class="form-control" name="otrasEspecifique" [(ngModel)]="body.otras_e" [disabled]="!formData.otrasSiNo"
          (ngModelChange)="guardar()" ></td>
      </tr>
    </tbody>
  </table>
</div>
