<div class="container">
  <h4>Antecedentes Heredofamiliares</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Si / No</th>
        <th>Parentesco</th>
        <th>Especifique</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Diabetes</td>
        <td class="text-center">
          <input type="checkbox" name="diabetesSiNo" [(ngModel)]="formData.diabetesSiNo">
        </td>
        <td><input type="text" class="form-control" name="diabetesParentesco" [(ngModel)]="formData.diabetesParentesco" [disabled]="!formData.diabetesSiNo"></td>
        <td><input type="text" class="form-control" name="diabetesEspecifique" [(ngModel)]="formData.diabetesEspecifique" [disabled]="!formData.diabetesSiNo"></td>
      </tr>
      <tr>
        <td>Neurológica</td>
        <td class="text-center">
          <input type="checkbox" name="neurologicaSiNo" [(ngModel)]="formData.neurologicaSiNo">
        </td>
        <td><input type="text" class="form-control" name="neurologicaParentesco" [(ngModel)]="formData.neurologicaParentesco" [disabled]="!formData.neurologicaSiNo"></td>
        <td><input type="text" class="form-control" name="neurologicaEspecifique" [(ngModel)]="formData.neurologicaEspecifique" [disabled]="!formData.neurologicaSiNo"></td>
      </tr>
      <tr>
        <td>HAS</td>
        <td class="text-center">
          <input type="checkbox" name="hasSiNo" [(ngModel)]="formData.hasSiNo">
        </td>
        <td><input type="text" class="form-control" name="hasParentesco" [(ngModel)]="formData.hasParentesco" [disabled]="!formData.hasSiNo"></td>
        <td><input type="text" class="form-control" name="hasEspecifique" [(ngModel)]="formData.hasEspecifique" [disabled]="!formData.hasSiNo"></td>
      </tr>
      <tr>
        <td>Neoplasias</td>
        <td class="text-center">
          <input type="checkbox" name="neoplasiasSiNo" [(ngModel)]="formData.neoplasiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="neoplasiasParentesco" [(ngModel)]="formData.neoplasiasParentesco" [disabled]="!formData.neoplasiasSiNo"></td>
        <td><input type="text" class="form-control" name="neoplasiasEspecifique" [(ngModel)]="formData.neoplasiasEspecifique" [disabled]="!formData.neoplasiasSiNo"></td>
      </tr>
      <tr>
        <td>Cardiopatías</td>
        <td class="text-center">
          <input type="checkbox" name="cardiopatiasSiNo" [(ngModel)]="formData.cardiopatiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="cardiopatiasParentesco" [(ngModel)]="formData.cardiopatiasParentesco" [disabled]="!formData.cardiopatiasSiNo"></td>
        <td><input type="text" class="form-control" name="cardiopatiasEspecifique" [(ngModel)]="formData.cardiopatiasEspecifique" [disabled]="!formData.cardiopatiasSiNo"></td>
      </tr>
      <tr>
        <td>Reumáticas</td>
        <td class="text-center">
          <input type="checkbox" name="reumaticasSiNo" [(ngModel)]="formData.reumaticasSiNo">
        </td>
        <td><input type="text" class="form-control" name="reumaticasParentesco" [(ngModel)]="formData.reumaticasParentesco" [disabled]="!formData.reumaticasSiNo"></td>
        <td><input type="text" class="form-control" name="reumaticasEspecifique" [(ngModel)]="formData.reumaticasEspecifique" [disabled]="!formData.reumaticasSiNo"></td>
      </tr>
      <tr>
        <td>Respiratorias</td>
        <td class="text-center">
          <input type="checkbox" name="respiratoriasSiNo" [(ngModel)]="formData.respiratoriasSiNo">
        </td>
        <td><input type="text" class="form-control" name="respiratoriasParentesco" [(ngModel)]="formData.respiratoriasParentesco" [disabled]="!formData.respiratoriasSiNo"></td>
        <td><input type="text" class="form-control" name="respiratoriasEspecifique" [(ngModel)]="formData.respiratoriasEspecifique" [disabled]="!formData.respiratoriasSiNo"></td>
      </tr>
      <tr>
        <td>Genéricas</td>
        <td class="text-center">
          <input type="checkbox" name="genericasSiNo" [(ngModel)]="formData.genericasSiNo">
        </td>
        <td><input type="text" class="form-control" name="genericasParentesco" [(ngModel)]="formData.genericasParentesco" [disabled]="!formData.genericasSiNo"></td>
        <td><input type="text" class="form-control" name="genericasEspecifique" [(ngModel)]="formData.genericasEspecifique" [disabled]="!formData.genericasSiNo"></td>
      </tr>
      <tr>
        <td>Endocrinológicas</td>
        <td class="text-center">
          <input type="checkbox" name="endocrinologicasSiNo" [(ngModel)]="formData.endocrinologicasSiNo">
        </td>
        <td><input type="text" class="form-control" name="endocrinologicasParentesco" [(ngModel)]="formData.endocrinologicasParentesco" [disabled]="!formData.endocrinologicasSiNo"></td>
        <td><input type="text" class="form-control" name="endocrinologicasEspecifique" [(ngModel)]="formData.endocrinologicasEspecifique" [disabled]="!formData.endocrinologicasSiNo"></td>
      </tr>
      <tr>
        <td>Otras</td>
        <td class="text-center">
          <input type="checkbox" name="otrasSiNo" [(ngModel)]="formData.otrasSiNo">
        </td>
        <td><input type="text" class="form-control" name="otrasParentesco" [(ngModel)]="formData.otrasParentesco" [disabled]="!formData.otrasSiNo"></td>
        <td><input type="text" class="form-control" name="otrasEspecifique" [(ngModel)]="formData.otrasEspecifique" [disabled]="!formData.otrasSiNo"></td>
      </tr>
    </tbody>
  </table>
</div>
