<div class="container">
  <form >
    <h4>Llenar Ficha Médica</h4>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="escolaridad" class="form-label">Escolaridad:</label>
        <input type="text" class="form-control" id="escolaridad" name="escolaridad" (keypress)="onlyText($event)">
      </div>
      <div class="col-md-4">
        <label for="ocupacion" class="form-label">Ocupación:</label>
        <input type="text" class="form-control" id="ocupacion" name="ocupacion" (keypress)="onlyText($event)">
      </div>
      <div class="col-md-4">
        <label for="religion" class="form-label">Religión:</label>
        <input type="text" class="form-control" id="religion" name="religion"(keypress)="onlyText($event)">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="nacionalidad" class="form-label">Nacionalidad:</label>
        <input type="text" class="form-control" id="nacionalidad" name="nacionalidad"(keypress)="onlyText($event)">
      </div>
      <div class="col-md-4">
        <label for="telEmergencia" class="form-label">Tel. Emergencia:</label>
        <input type="tel" class="form-control" id="telEmergencia" name="telEmergencia" (keypress)="onlyNumbers($event)" >
      </div>
      <div class="col-md-4">
        <label for="nombreTel" class="form-label">Nombre Tel.:</label>
        <input type="text" class="form-control" id="nombreTel" name="nombreTel" (keypress)="onlyNumbers($event)">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="residencia" class="form-label">Lugar de Residencia:</label>
        <input type="text" class="form-control" id="residencia" name="residencia">
      </div>
      <div class="col-md-4">
        <label for="remision" class="form-label">Remisión:</label>
        <input type="text" class="form-control" id="remision" name="remision">
      </div>
    </div>
  </form>
</div>