
  <form *ngIf="!spinnerModal" class="form-border" [ngClass]="{'no-padding': !addVisit}" [formGroup]="visitaForm" (ngSubmit)="addVisita()" enctype="multipart/form-data">
    <div *ngIf="addVisit">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input formControlName="fecha" type="date" class="form-control" id="fecha">
          </div>
        </div>

        <div class="col">
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select formControlName="tipo" class="form-select" aria-label="Default select example">
              <option selected value="null">Seleccione</option>
              <option *ngFor="let servicio of servicios" [value]="servicio.name">
                {{ servicio.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="mb-3">
            <label for="filePx" class="form-label custom-margin">Archivo</label>
            <input type="file" id="fichero-tarifas" class="form-control" (change)="onFileSelect($event)">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="comentario" class="form-label">Notas</label>
            <textarea formControlName="comentario" type="text" class="form-control" id="comentario"></textarea>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-danger me-md-2" type="button" (click)="agregarVisita()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="addVisita()">
            Agregar 
          </button>            
        </div>
      </div>
    </div>
    <div class="d-grid d-md-flex justify-content-md-end" *ngIf="!addVisit">
      <button class="btn btn-transparent" type="button" (click)="agregarVisita()">Agregar visita</button>
    </div>
  </form>

  <div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="w-100 text-center"> <!-- Div contenedor centrado -->
              <h5 class="modal-title" id="successModalLabel">¡El archivo se ha cargado exitosamente!</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  

<div *ngIf="spinnerModal" class="loader-view text-center">
  <div class="container-img">
    <img alt="spiner" src="../../assets/doctor.gif" class="spiner-carga"/>
  </div>
  <p class="text-result"> {{resultText}}</p>
</div>
<div *ngIf="showError" class="error-result text-center">

  <p class="text-result">{{resultText}} <button class="btn btn-danger" (click)="closeError()">OK</button></p>
</div>

  <!-- <div class="d-grid d-md-flex justify-content-md-end" *ngIf="!addVisit">
    <button class="btn btn-primary" type="button" (click)="agregarVisita()">Agregar visita</button>
  </div> -->

<!-- <div class="container"> -->
  <div class="row visor-section">
    <div class="col-12 col-md-8">
      <table class="table table-striped table-hover">
        <thead class="text-center">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Archivo</th>
          </tr>
        </thead>
        <tbody *ngIf="showSpinner">
          <tr>
            <td colspan="4" class="spinner-container text-center">
              <img alt="spiner" src="../../assets/doctor.gif" />
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!showSpinner && datosHistorial.length === 0">
          <tr>
            <td colspan="4" class="table-active text-center">Sin resultados para mostrar</td>
          </tr>
        </tbody>
        <tbody *ngIf="!showSpinner && datosHistorial.length > 0" class="text-center">
          <tr *ngFor="let dato of datosHistorial">
            <td>{{ dato.fecha }}</td>
            <td>{{ dato.tipo }}</td>
            <td class="cursor" (click)="previsualizarArchivo(dato)">{{mapFileName(dato.fileName)}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="col-12 col-md-4">
      <div class="modal-recuadro">
        <p class="text-center nameFile">{{mapFileName(file.nameFile)}}</p>
        <div *ngIf="!file.isPDF && urlImage && hasFile" class="center-items">  
          <img [src]="urlImage" class="img-fluid" alt="imagen">
          <p  class="text-center">{{file.notas}}</p>
          <a [href]="urlImage" target="_blank" download="image.jpg" class="btn btn-primary">Descargar</a>
        </div>
        <div *ngIf="file.isPDF && hasFile" class="center-items">
          <iframe [src]="urlImage" width="100%" frameborder="0">
            Este navegador no soporta iframes.
          </iframe>
          <p class="text-center notas">{{file.notas}}</p>
          <a [href]="urlImage" target="_blank" download="image.jpg" class="btn btn-primary">Descargar</a>
        </div>
        <div *ngIf="!hasFile" class="center-items">
          <p class="text-center notas">{{file.notas}}</p>
        </div>
      </div>
    </div>
  </div>