.buscador{
    margin-top: 1.5rem;
    background-color: white;
}
.table {
    margin-top: 4em;
}
.titulo-registro {
    font-size: 2em; /* Tamaño de fuente más grande */
    text-align: center; /* Centrado horizontal */
    font-weight: bold; /* Negrita */
    padding-bottom: 10px; /* Espaciado inferior opcional */
    margin-top: 2em;
  }
  .lupa {
    margin: auto;
    border: #1489fd 2px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #1489fd;
}
.lupa:hover {
    background-color: #1489fd;
    color: white;
}
.container {
    margin-top: 0;
    padding: 1em;
    background-color: white;
    width: 85%; /* Ajusta el ancho según tu preferencia, también puedes usar un valor fijo como 600px */
    height: calc(100vh - 2em); /* Altura completa menos el margen superior */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el formulario */
    overflow-y: auto; /* Añade scroll si el contenido es mayor al espacio disponible */
  }