 <div class="container">
 <div class="d-flex align-items-center mb-4">
    <h4 class="me-3">PX Deportivo</h4>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="switchDeportivo" [(ngModel)]="formData.pacienteDeportivo">
      <label class="form-check-label" for="switchDeportivo">{{ formData.pacienteDeportivo ? 'Si' : 'No' }}</label>
    </div>
  </div>

  <div *ngIf="formData.pacienteDeportivo">
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="disciplina" class="form-label">Disciplina:</label>
        <input type="text" class="form-control" id="disciplina" name="disciplina" [(ngModel)]="formData.disciplina">
      </div>
      <div class="col-md-4">
        <label for="deporteAltoRendimiento" class="form-label">Deporte de Alto Rendimiento:</label>
        <input type="text" class="form-control" id="deporteAltoRendimiento" name="deporteAltoRendimiento" [(ngModel)]="formData.deporteAltoRendimiento">
      </div>
      <div class="col-md-4">
        <label for="arteCompetitivo" class="form-label">Arte Competitivo:</label>
        <input type="text" class="form-control" id="arteCompetitivo" name="arteCompetitivo" [(ngModel)]="formData.arteCompetitivo">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="categoria" class="form-label">Categoría:</label>
        <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="formData.categoria">
      </div>
      <div class="col-md-4">
        <label for="nombreEntrenador" class="form-label">Nombre del Entrenador:</label>
        <input type="text" class="form-control" id="nombreEntrenador" name="nombreEntrenador" [(ngModel)]="formData.nombreEntrenador">
      </div>
      <div class="col-md-4">
        <label for="clubLiga" class="form-label">Club o Liga:</label>
        <input type="text" class="form-control" id="clubLiga" name="clubLiga" [(ngModel)]="formData.clubLiga">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="motivoConsulta" class="form-label">Motivo Consulta:</label>
        <input type="text" class="form-control" id="motivoConsulta" name="motivoConsulta" [(ngModel)]="formData.motivoConsulta">
      </div>
      <div class="col-md-4">
        <label for="diagnosticoMedico" class="form-label">Diagnóstico Médico:</label>
        <input type="text" class="form-control" id="diagnosticoMedico" name="diagnosticoMedico" [(ngModel)]="formData.diagnosticoMedico">
      </div>
      <div class="col-md-4">
        <label for="mecanismoLesion" class="form-label">Mecanismo de Lesión:</label>
        <input type="text" class="form-control" id="mecanismoLesion" name="mecanismoLesion" [(ngModel)]="formData.mecanismoLesion">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="tratamientosPrevios" class="form-label">Tratamientos Previos:</label>
        <input type="text" class="form-control" id="tratamientosPrevios" name="tratamientosPrevios" [(ngModel)]="formData.tratamientosPrevios">
      </div>
    </div>
  </div>
</div>