.titulo{
    margin-top: -80px;
    margin-bottom: 70px;
}
.ultima{
    margin-top: 32px;
}
.form-switch {
    margin-left: 10px;
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.spinner-image {
    width: 100px;
    height: 100px;
}