<div class="container">
  <p class="me-3 text-center fw-bold">Motivo de consulta</p>
  <div class="d-flex align-items-center mb-3">
    <input type="text" class="form-control" [(ngModel)]="motivoConsulta" name="motivoConsulta">
  </div>

  <p class="me-3 text-center fw-bold">Diagnóstico médico</p>
  <div class="d-flex align-items-center mb-3">
    <input type="text" class="form-control" [(ngModel)]="diagnosticoMedico" name="diagnosticoMedico">
  </div>

  <p class="me-3 text-center fw-bold">Mecanismo de lesión</p>
  <div class="d-flex align-items-center mb-3">
    <input type="text" class="form-control" [(ngModel)]="mecanismoLesion" name="mecanismoLesion">
  </div>

  <p class="me-3 text-center fw-bold">Tratamientos previos</p>
  <div class="d-flex align-items-center mb-3">
    <input type="text" class="form-control" [(ngModel)]="tratamientosPrevios" name="tratamientosPrevios">
  </div>

  <p class="me-3 text-center fw-bold">Observaciones</p>
  <div class="d-flex align-items-center mb-3">
    <input type="text" class="form-control" [(ngModel)]="observaciones" name="observaciones">
  </div>
</div>
