.table .form-control {
  border: none;
  box-shadow: none;
  padding: 5px;
}

.table .form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.table .form-control[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.small-text {
  font-size: 0.8rem; /* Ajusta el tamaño según tus necesidades */
}
.bold-text {
  font-size: 0.8rem;
  font-weight: bold;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
.inline-text {
  display: inline;
}

.bold-text {
  font-weight: bold;
  font-size: small;
}

.small-text {
  font-size: small;
  margin-left: 0.5rem; /* Ajusta el espaciado entre el texto en negrita y el texto pequeño */
}
.modal-title-confirm {
  color: whitesmoke;
}
.error-background {
  background-color: red;
}
.success-background {
  background-color: #4db051;
}
.container {
  margin-top: 0;
  padding: 1em;
  background-color: white;
  width: 85%; /* Ajusta el ancho según tu preferencia, también puedes usar un valor fijo como 600px */
  height: calc(100vh - 2em); /* Altura completa menos el margen superior */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el formulario */
  overflow-y: auto; /* Añade scroll si el contenido es mayor al espacio disponible */
}
.titulo {

}





