<div class="container">
  <h3>Registar Paciente</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="formData.nombre" (keypress)="onlyText($event)">
      </div>
      <div class="col-md-4">
        <label for="apellidoP" class="form-label">Apellido P:</label>
        <input type="text" class="form-control" id="apellidoP" name="apellidoP" required [(ngModel)]="formData.apellidoP" (keypress)="onlyText($event)">
      </div>
      <div class="col-md-4">
        <label for="apellidoM" class="form-label">Apellido M:</label>
        <input type="text" class="form-control" id="apellidoM" name="apellidoM" required [(ngModel)]="formData.apellidoM" (keypress)="onlyText($event)">
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="fechaNac" class="form-label">Fecha Nac:</label>
        <input type="date" class="form-control" id="fechaNac" name="fechaNac" required [(ngModel)]="formData.fechaNac">
      </div>
      <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo:</label>
        <select id="sexo" name="sexo" class="form-select" required [(ngModel)]="formData.sexo">
          <option value="">Seleccionar</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="estadoCivil" class="form-label">Estado Civil:</label>
        <select id="estadoCivil" name="estadoCivil" class="form-select" required [(ngModel)]="formData.estadoCivil">
          <option value="">Seleccionar</option>
          <option value="soltero">Soltero</option>
          <option value="casado">Casado</option>
          <option value="divorciado">Divorciado</option>
          <option value="viudo">Viudo</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="tipoSangre" class="form-label">Tipo Sangre:</label>
        <select 
          class="form-select" 
          id="tipoSangre" 
          name="tipoSangre" 
          required 
          [(ngModel)]="formData.tipoSangre">
          <option value="">Seleccionar</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>  

      <div class="col-md-4">
        <label for="telefono" class="form-label">Teléfono:</label>
        <input 
          type="text" 
          class="form-control" 
          id="telefono" 
          name="telefono" 
          required 
          maxlength="10" 
          [(ngModel)]="formData.telefono" 
          (keypress)="validateNumberInput($event)" 
          (blur)="validatePhoneNumber()" 
          (focus)="resetPhoneError()">
        <div *ngIf="showPhoneError" class="text-danger">
          El teléfono debe ser a 10 dìgitos
        </div>
      </div>
      <div class="col-md-4">
        <label for="email" class="form-label">Email:</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          name="email" 
          required 
          [(ngModel)]="formData.email" 
          (blur)="validateEmail()" 
          (focus)="resetEmailError()">
        <div *ngIf="emailError" class="text-danger">
          Email no válido 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-end">
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </div>
    <div *ngIf="showWarning" class="alert alert-danger mt-3">
      No se puede continuar sin que todos los campos estén llenos.
    </div>
  </form>
  
  <div class="modal fade" id="responseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" [ngClass]="{'error-background': saveError, 'success-background': !saveError}">
          <h5 class="modal-title-confirm" id="staticBackdropLabel">Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="!loader" class="modal-body text-center">
          <p *ngIf="!saveError">
            Paciente creado con exito! <br>
            ¿ Deseas continuar con el llenado de la ficha medica ?
          </p>
          <p *ngIf="saveError">
            Ocurrio un error <br>
            Contacte al administrador
          </p>
          <div>
            <img *ngIf="!saveError" width="48" height="48" src="https://img.icons8.com/color/48/checked--v1.png" alt="checked--v1"/>
            <img *ngIf="saveError" width="48" height="48" src="https://img.icons8.com/fluency/48/cancel.png" alt="cancel"/>
          </div>
        </div>
        <div *ngIf="loader" class="modal-body text-center">
          <img alt="spiner" src="../../assets/doctor.gif"/>
        </div>
        <div *ngIf="!loader" class="modal-footer">
          <button *ngIf="saveError" type="button" class="btn btn-danger" data-bs-dismiss="modal">Entendido</button>
          <button *ngIf="!saveError" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Más tarde</button>
          <button *ngIf="!saveError" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fichaModal">Llenar Ficha Médica</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade modal-xl" id="fichaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Ficha Médica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-ficha-medica ></app-ficha-medica>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

</div>
