<div class="container">
  <form>
    <h4>Datos Personales</h4>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="formData.nombre">
      </div>
      <div class="col-md-4">
        <label for="apellidoP" class="form-label">Apellido P:</label>
        <input type="text" class="form-control" id="apellidoP" name="apellidoP" required [(ngModel)]="formData.apellidoP">
      </div>
      <div class="col-md-4">
        <label for="apellidoM" class="form-label">Apellido M:</label>
        <input type="text" class="form-control" id="apellidoM" name="apellidoM" required [(ngModel)]="formData.apellidoM">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="fechaNac" class="form-label">Fecha Nac:</label>
        <input type="date" class="form-control" id="fechaNac" name="fechaNac" required [(ngModel)]="formData.fechaNac">
      </div>
      <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo:</label>
        <select id="sexo" name="sexo" class="form-select" required [(ngModel)]="formData.sexo">
          <option value="">Seleccionar</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="estadoCivil" class="form-label">Estado Civil:</label>
        <select id="estadoCivil" name="estadoCivil" class="form-select" required [(ngModel)]="formData.estadoCivil">
          <option value="">Seleccionar</option>
          <option value="soltero">Soltero</option>
          <option value="casado">Casado</option>
          <option value="divorciado">Divorciado</option>
          <option value="viudo">Viudo</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="tipoSangre" class="form-label">Tipo Sangre:</label>
        <input type="text" class="form-control" id="tipoSangre" name="tipoSangre" required [(ngModel)]="formData.tipoSangre">
      </div>
      <div class="col-md-4">
        <label for="telefono" class="form-label">Teléfono:</label>
        <input type="text" class="form-control" id="telefono" name="telefono" required [(ngModel)]="formData.telefono" (keypress)="validateNumberInput($event)">
      </div>
      <div class="col-md-4">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="formData.email">
      </div>
    </div>
    <div class="row">
      <div class="col text-end">
        <button type="submit" class="btn btn-primary" >Guardar</button>
      </div>
    </div>
    <div *ngIf="showWarning" class="alert alert-danger mt-3">
      No se puede continuar sin que todos los campos estén llenos.
    </div>
  </form>
  <app-ficha-medica></app-ficha-medica>
  
 