<div class="container">
  <h4>Antecedentes Patológicos</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Si / No</th>
        <th>Parentesco</th>
        <th>Especifique</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Diabetes</td>
        <td class="text-center">
          <input type="checkbox" name="diabetesSiNo" [(ngModel)]="formData.diabetesSiNo">
        </td>
        <td><input type="text" class="form-control" name="diabetesParentesco" [(ngModel)]="formData.diabetesParentesco" [disabled]="!formData.diabetesSiNo"></td>
        <td><input type="text" class="form-control" name="diabetesEspecifique" [(ngModel)]="formData.diabetesEspecifique" [disabled]="!formData.diabetesSiNo"></td>
      </tr>
      <tr>
        <td>Alergias</td>
        <td class="text-center">
          <input type="checkbox" name="alergiasSiNo" [(ngModel)]="formData.alergiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="alergiasParentesco" [(ngModel)]="formData.alergiasParentesco" [disabled]="!formData.alergiasSiNo"></td>
        <td><input type="text" class="form-control" name="alergiasEspecifique" [(ngModel)]="formData.alergiasEspecifique" [disabled]="!formData.alergiasSiNo"></td>
      </tr>
      <tr>
        <td>Accidentes</td>
        <td class="text-center">
          <input type="checkbox" name="accidentesSiNo" [(ngModel)]="formData.accidentesSiNo">
        </td>
        <td><input type="text" class="form-control" name="accidentesParentesco" [(ngModel)]="formData.accidentesParentesco" [disabled]="!formData.accidentesSiNo"></td>
        <td><input type="text" class="form-control" name="accidentesEspecifique" [(ngModel)]="formData.accidentesEspecifique" [disabled]="!formData.accidentesSiNo"></td>
      </tr>
      <tr>
        <td>Neoplasias</td>
        <td class="text-center">
          <input type="checkbox" name="neoplasiasSiNo" [(ngModel)]="formData.neoplasiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="neoplasiasParentesco" [(ngModel)]="formData.neoplasiasParentesco" [disabled]="!formData.neoplasiasSiNo"></td>
        <td><input type="text" class="form-control" name="neoplasiasEspecifique" [(ngModel)]="formData.neoplasiasEspecifique" [disabled]="!formData.neoplasiasSiNo"></td>
      </tr>
      <tr>
        <td>Cardiopatías</td>
        <td class="text-center">
          <input type="checkbox" name="cardiopatiasSiNo" [(ngModel)]="formData.cardiopatiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="cardiopatiasParentesco" [(ngModel)]="formData.cardiopatiasParentesco" [disabled]="!formData.cardiopatiasSiNo"></td>
        <td><input type="text" class="form-control" name="cardiopatiasEspecifique" [(ngModel)]="formData.cardiopatiasEspecifique" [disabled]="!formData.cardiopatiasSiNo"></td>
      </tr>
      <tr>
        <td>Cirugías</td>
        <td class="text-center">
          <input type="checkbox" name="cirugiasSiNo" [(ngModel)]="formData.cirugiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="cirugiasParentesco" [(ngModel)]="formData.cirugiasParentesco" [disabled]="!formData.cirugiasSiNo"></td>
        <td><input type="text" class="form-control" name="cirugiasEspecifique" [(ngModel)]="formData.cirugiasEspecifique" [disabled]="!formData.cirugiasSiNo"></td>
      </tr>
      <tr>
        <td>Respiratorias</td>
        <td class="text-center">
          <input type="checkbox" name="respiratoriasSiNo" [(ngModel)]="formData.respiratoriasSiNo">
        </td>
        <td><input type="text" class="form-control" name="respiratoriasParentesco" [(ngModel)]="formData.respiratoriasParentesco" [disabled]="!formData.respiratoriasSiNo"></td>
        <td><input type="text" class="form-control" name="respiratoriasEspecifique" [(ngModel)]="formData.respiratoriasEspecifique" [disabled]="!formData.respiratoriasSiNo"></td>
      </tr>
      <tr>
        <td>Dolor de cabeza</td>
        <td class="text-center">
          <input type="checkbox" name="dolorCabezaSiNo" [(ngModel)]="formData.dolorCabezaSiNo">
        </td>
        <td><input type="text" class="form-control" name="dolorCabezaParentesco" [(ngModel)]="formData.dolorCabezaParentesco" [disabled]="!formData.dolorCabezaSiNo"></td>
        <td><input type="text" class="form-control" name="dolorCabezaEspecifique" [(ngModel)]="formData.dolorCabezaEspecifique" [disabled]="!formData.dolorCabezaSiNo"></td>
      </tr>
      <tr>
        <td>Malformaciones congénitas</td>
        <td class="text-center">
          <input type="checkbox" name="malformacionesSiNo" [(ngModel)]="formData.malformacionesSiNo">
        </td>
        <td><input type="text" class="form-control" name="malformacionesParentesco" [(ngModel)]="formData.malformacionesParentesco" [disabled]="!formData.malformacionesSiNo"></td>
        <td><input type="text" class="form-control" name="malformacionesEspecifique" [(ngModel)]="formData.malformacionesEspecifique" [disabled]="!formData.malformacionesSiNo"></td>
      </tr>
      <tr>
        <td>Neurológicas</td>
        <td class="text-center">
          <input type="checkbox" name="neurologicasSiNo" [(ngModel)]="formData.neurologicasSiNo">
        </td>
        <td><input type="text" class="form-control" name="neurologicasParentesco" [(ngModel)]="formData.neurologicasParentesco" [disabled]="!formData.neurologicasSiNo"></td>
        <td><input type="text" class="form-control" name="neurologicasEspecifique" [(ngModel)]="formData.neurologicasEspecifique" [disabled]="!formData.neurologicasSiNo"></td>
      </tr>
      <tr>
        <td>Convulsiones/Epilepsias</td>
        <td class="text-center">
          <input type="checkbox" name="convulsionesSiNo" [(ngModel)]="formData.convulsionesSiNo">
        </td>
        <td><input type="text" class="form-control" name="convulsionesParentesco" [(ngModel)]="formData.convulsionesParentesco" [disabled]="!formData.convulsionesSiNo"></td>
        <td><input type="text" class="form-control" name="convulsionesEspecifique" [(ngModel)]="formData.convulsionesEspecifique" [disabled]="!formData.convulsionesSiNo"></td>
      </tr>
      <tr>
        <td>Traumatismos</td>
        <td class="text-center">
          <input type="checkbox" name="traumatismosSiNo" [(ngModel)]="formData.traumatismosSiNo">
        </td>
        <td><input type="text" class="form-control" name="traumatismosParentesco" [(ngModel)]="formData.traumatismosParentesco" [disabled]="!formData.traumatismosSiNo"></td>
        <td><input type="text" class="form-control" name="traumatismosEspecifique" [(ngModel)]="formData.traumatismosEspecifique" [disabled]="!formData.traumatismosSiNo"></td>
      </tr>
    </tbody>
  </table>
</div>
