<div class="form-border">
<form [formGroup]="buscarPagoForm" (ngSubmit)="buscarPago()">
<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="fechaPago" class="form-label">Desde</label>
            <input formControlName="desde" type="date" class="form-control" id="fechaPago">
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="fechaPago" class="form-label">Hasta</label>
            <input formControlName="hasta" type="date" class="form-control" id="fechaPago">
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="fechaPago" class="form-label">Tipo</label>
            <select formControlName="tipo" class="form-select" aria-label="Default select example">
                <option selected value="null">Seleccione</option>
                <option value="E">Efectivo</option>
                <option value="T">Transferencia</option>
            </select>
        </div>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="submit" class="buscar_pago_button">
        <i class="fas fa-search"></i> 
      </button>
    </div>
  </div>
</form>
  <div class="responsive-table">
   <table class="table table-striped table-hover">
      <thead class="text-center"> 
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Cántidad</th>
          <th scope="col">Tipo</th>
          <th scope="col">Concepto</th>
        </tr>
      </thead>
      <tbody *ngIf="pagos.length == 0">
        <tr *ngIf="!showSpiner">
          <td colspan="4" class="table-active text-center">Sin resultados para mostrar</td>
        </tr>
        <tr *ngIf="showSpiner">
          <td colspan="4" class="spinner-container">
            <img alt="spiner" src="../../assets/doctor.gif"/>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!showSpiner && pagos.length > 0">
        <tr *ngFor="let pago of pagos">
          <td class="text-center">{{formatDate(pago.dateTime)}}</td>
          <td class="text-center">${{pago.cantidad}}</td>
          <td class="text-center">{{formatTipo(pago.tipo)}}</td>
          <td class="text-center">
            <ng-container *ngIf="pago.comentarios; else noComentarios">
              <details>
                <summary>{{formatConcepto(pago.concepto)}}</summary>
                <p>{{pago.comentarios}}</p>
              </details>
            </ng-container>
            <ng-template #noComentarios>
              {{formatConcepto(pago.concepto)}}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-end me-3" *ngIf="pagos.length > 0 && !showSpiner">
  <strong>Total de Pagos: {{ totalPagos | currency:'MXN':'symbol':'1.2-2' }}</strong>
</div>

<div class="text-end me-3 space-bottom" *ngIf="pagos.length > 0 && !showSpiner">
  <button (click)="descargarPDF()" class="btn btn-primary">
    Descargar PDF
  </button>
</div>
  <!-- <div *ngIf="pagos.length > 0" class="d-flex justify-content-center"> PAGINADO
    <nav class="" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> -->