.buscar_pago_button{
    margin-top: 2rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    height: fit-content;
}
  .paginator {
    text-align: center; 
    vertical-align: middle;
    height: 100px; 
  }
  
  .paginator nav {
    max-width: 100%; 
    height: auto;
  }
  .space-bottom {
    margin-bottom: 1rem;
  }
  @media (max-width: 576px) {
    .responsive-table {
      max-height: 60vh;
    }
  }