<div class="container">
    <h3 class="pago_title">Registrar Pago</h3>
    <form [formGroup]="cajaForm"  (ngSubmit)="sendPay()">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input formControlName="cantidad" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cantidad" (keypress)="validateNumberInput($event)">
                    </div>
                    <label class="error-label" *ngIf="cajaForm.get('cantidad')?.touched && cajaForm.get('cantidad')?.invalid">Pago requerido</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Paciente</label>
                    <input formControlName="px" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Paciente">
                    <label class="error-label" *ngIf="cajaForm.get('px')?.touched && cajaForm.get('px')?.invalid">Nombre de paciente requerido</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="fechaPago" class="form-label">Fecha</label>
                    <input formControlName="dateTime" type="datetime-local" class="form-control" id="fechaPago" [disabled]="!cajaForm.get('oldDate')?.value">
                    <input type="checkbox" formControlName="oldDate" (change)="toggleDateField()">
                    <label for="fechaPago" class="form-label">&nbsp; Cambiar</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="">
                    <label for="fechaPago" class="form-label">Tipo</label>
                    <select formControlName="tipo" class="form-select" aria-label="Default select example" (change)="onTipoChange()">
                        <option value=null>Seleccione</option>
                        <option value="E">Efectivo</option>
                        <option value="T">Transferencia</option>
                    </select>
                    <label class="error-label" *ngIf="cajaForm.get('tipo')?.touched && cajaForm.get('tipo')?.invalid">Tipo de pago requerido</label>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <label for="Comentarios" class="form-label">Comentarios</label>
                    <input formControlName="comentarios" type="text" class="form-control" id="Comentarios" placeholder="Comentarios...">
                </div>
            </div>
            <div class="col">
                <div class="">
                    <button type="submit" class="btn btn-primary pago_guardar">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>