.pago_guardar {
    margin-top: 2rem;
}
.container{
    margin-top: 1.5em;
}
.error-label {
    color: red;
    font-size: 0.75rem;
    margin-left: 2%;
}

.table-container {
  padding: 20px;
  background-color: #f8f9fa; /* Fondo claro opcional */
}
  .modal-title-confirm {
    color: whitesmoke;
  }
  .error-background {
    background-color: red;
  }
  .success-background {
    background-color: #4db051;
  }
  .container {
    margin-top: 1.5em;
  }
