.buscar_pago_button {
    margin-top: 2rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    height: fit-content;
    width: fit-content;
}
.spinner-container {
    text-align: center; 
    vertical-align: middle; 
    height: 100px; 
  }
  
  .spinner-container img {
    max-width: 100%; 
    height: auto;
    padding: 1rem;
    border: rgb(106, 177, 239) solid 2px;
    border-radius: 25%;
  }
  .table-icon-size {
    height: 1.7rem;
    cursor: pointer;
  }
  .custom-tooltip {
      background-color: #333; /* Cambia el color de fondo */
      color: #fff; /* Cambia el color del texto */
      border-radius: 0.25rem; /* Cambia el radio de la esquina */
    
  }
  