<div class="container">
  <div class="d-flex align-items-center mb-4">
    <h4 class="me-3">En caso de ser Mujer (Antecedentes Gineco-Obstétricos)</h4>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="switchGinecoObstetrico" [(ngModel)]="showTable">
      <label class="form-check-label" for="switchGinecoObstetrico">{{ showTable ? 'Si' : 'No' }}</label>
    </div>
  </div>
  <div *ngIf="showTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Antecedente</th>
          <th class="text-center">Si / No</th>
          <th>Parentesco</th>
          <th>Especifique</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mecarca</td>
          <td class="text-center">
            <input type="checkbox" name="mecarcaSiNo" [(ngModel)]="formData.mecarcaSiNo" (ngModelChange)="limpiar($event,'mecarca')">
          </td>
          <td><input type="text" class="form-control" name="mecarca_p" [(ngModel)]="body.mecarca_p" [disabled]="!formData.mecarcaSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="mecarca_e" [(ngModel)]="body.mecarca_e" [disabled]="!formData.mecarcaSiNo" 
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Dismenorreas</td>
          <td class="text-center">
            <input type="checkbox" name="dismenorreasSiNo" [(ngModel)]="formData.dismenorreasSiNo" (ngModelChange)="limpiar($event,'dismenorreas')">
          </td>
          <td><input type="text" class="form-control" name="dismenorreas_p" [(ngModel)]="body.dismenorreas_p" [disabled]="!formData.dismenorreasSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="dismenorreas_e" [(ngModel)]="body.dismenorreas_e" [disabled]="!formData.dismenorreasSiNo"
             (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Gesta actual</td>
          <td class="text-center">
            <input type="checkbox" name="gestaActualSiNo" [(ngModel)]="formData.gestaActualSiNo" (ngModelChange)="limpiar($event,'gestaActual')">
          </td>
          <td><input type="text" class="form-control" name="gestaActual_p" [(ngModel)]="body.gestaActual_p" [disabled]="!formData.gestaActualSiNo"
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="gestaActual_e" [(ngModel)]="body.gestaActual_e" [disabled]="!formData.gestaActualSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Número de gestas</td>
          <td class="text-center">
            <input type="checkbox" name="numeroGestasSiNo" [(ngModel)]="formData.numeroGestasSiNo" (ngModelChange)="limpiar($event,'numeroGestas')">
          </td>
          <td><input type="text" class="form-control" name="numeroGestasParentesco" [(ngModel)]="body.numeroGestas_p" [disabled]="!formData.numeroGestasSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="numeroGestasEspecifique" [(ngModel)]="body.numeroGestas_e" [disabled]="!formData.numeroGestasSiNo" 
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Número de partos</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.numeroPartosSiNo"(ngModelChange)="limpiar($event,'numeroPartos')" >
          </td>
          <td><input type="text" class="form-control" name="numeroPartos_p" [(ngModel)]="body.numeroPartos_p" [disabled]="!formData.numeroPartosSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="numeroPartos_e" [(ngModel)]="body.numeroPartos_e" [disabled]="!formData.numeroPartosSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Cesáreas</td>
          <td class="text-center">
            <input type="checkbox" name="cesareasSiNo" [(ngModel)]="formData.cesareasSiNo" (ngModelChange)="limpiar($event,'cesareas')">
          </td>
          <td><input type="text" class="form-control" name="cesareas_p" [(ngModel)]="body.cesareas_p" [disabled]="!formData.cesareasSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="cesareas_e" [(ngModel)]="body.cesareas_e" [disabled]="!formData.cesareasSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Abortos</td>
          <td class="text-center">
            <input type="checkbox" name="abortosSiNo" [(ngModel)]="formData.abortosSiNo" (ngModelChange)="limpiar($event,'abortos')">
          </td>
          <td><input type="text" class="form-control" name="abortosParentesco" [(ngModel)]="body.abortos_p" [disabled]="!formData.abortosSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="abortosEspecifique" [(ngModel)]="body.abortos_e" [disabled]="!formData.abortosSiNo" 
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Núm de productos nacidos vivos</td>
          <td class="text-center">
            <input type="checkbox" name="nacidosVivosSiNo" [(ngModel)]="formData.nacidosVivosSiNo" (ngModelChange)="limpiar($event,'nacidosVivos')">
          </td>
          <td><input type="text" class="form-control" name="nacidosVivos_p" [(ngModel)]="body.nacidosVivos_p" [disabled]="!formData.nacidosVivosSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="nacidosVivos_e" [(ngModel)]="body.nacidosVivos_e" [disabled]="!formData.nacidosVivosSiNo" 
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Menopausia</td>
          <td class="text-center">
            <input type="checkbox" name="menopausiaSiNo" [(ngModel)]="formData.menopausiaSiNo" (ngModelChange)="limpiar($event,'menopausia')">
          </td>
          <td><input type="text" class="form-control" name="menopausia_p" [(ngModel)]="body.menopausia_p" [disabled]="!formData.menopausiaSiNo" 
            (ngModelChange)="guardar()">
          <td><input type="text" class="form-control" name="menopausia_e" [(ngModel)]="body.menopausia_e" [disabled]="!formData.menopausiaSiNo" 
            (ngModelChange)="guardar()">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
