<div class="container">
  <div class="d-flex align-items-center mb-4">
    <h4 class="me-3">En caso de ser Mujer (Antecedentes Gineco-Obstétricos)</h4>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="switchGinecoObstetrico" [(ngModel)]="showTable">
      <label class="form-check-label" for="switchGinecoObstetrico">{{ showTable ? 'Si' : 'No' }}</label>
    </div>
  </div>
  <div *ngIf="showTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Antecedente</th>
          <th class="text-center">Si / No</th>
          <th>Parentesco</th>
          <th>Especifique</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mecarca</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.metrorragiaSiNo" (ngModelChange)="limpiar('mecarca')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.mecarca_p" [disabled]="!formData.metrorragiaSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.mecarca_e" [disabled]="!formData.metrorragiaSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Dismenorreas</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.dismenorreasSiNo" (ngModelChange)="limpiar('dismenorreas')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.dismenorreas_p" [disabled]="!formData.dismenorreasSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="formData.dismenorreas_e" [disabled]="!formData.dismenorreasSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Gesta actual</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.gestaActualSiNo" (ngModelChange)="limpiar('gestaActual')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.gestaActual_p" [disabled]="!formData.gestaActualSiNo">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="formData.gestaActual_e" [disabled]="!formData.gestaActualSiNo">
          </td>
        </tr>
        <tr>
          <td>Número de gestas</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.numeroGestasSiNo" (ngModelChange)="limpiar('numeroGestas')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.numeroGestas_p" [disabled]="!formData.numeroGestasSiNo" 
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.numeroGestas_e" [disabled]="!formData.numeroGestasSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Número de partos</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.numeroPartosSiNo"(ngModelChange)="limpiar('numeroPartos')"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.numeroPartos_p" [disabled]="!formData.numeroPartosSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.numeroPartos_e" [disabled]="!formData.numeroPartosSiNo">
          </td>
        </tr>
        <tr>
          <td>Cesáreas</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.cesareasSiNo" (ngModelChange)="limpiar('cesareas')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.cesareas_p" [disabled]="!formData.cesareasSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.cesareas_e" [disabled]="!formData.cesareasSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Aborto</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.abortoSiNo" (ngModelChange)="limpiar('aborto')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.aborto_p" [disabled]="!formData.abortoSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.aborto_e" [disabled]="!formData.abortoSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Núm de productos nacidos vivos</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.nacidosVivosSiNo" (ngModelChange)="limpiar('nacidosVivos')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.nacidosVivos_p" [disabled]="!formData.nacidosVivosSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.nacidosVivos_e" [disabled]="!formData.nacidosVivosSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
        <tr>
          <td>Menopausia</td>
          <td class="text-center">
            <input type="checkbox" [(ngModel)]="formData.menopausiaSiNo" (ngModelChange)="limpiar('menopausia')">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.menopausia_p" [disabled]="!formData.menopausiaSiNo"
            (ngModelChange)="guardar()">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="body.menopausia_e" [disabled]="!formData.menopausiaSiNo"
            (ngModelChange)="guardar()">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
