.table {
    margin-top: 2em;
}
.titulo-registro {
    font-size: 2em; /* Tamaño de fuente más grande */
    text-align: center; /* Centrado horizontal */
    font-weight: bold; /* Negrita */
    padding-bottom: 10px; /* Espaciado inferior opcional */
    margin-top: 2em;
  }
  .titulo-paciente {
    font-size: 2em; /* Tamaño de fuente más grande */
    text-align: center; /* Centrado horizontal */
    font-weight: bold; /* Negrita */
    padding-bottom: 10px; /* Espaciado inferior opcional */
    margin-top: 2em;
  }
  .text-danger {
    color: red;
  }
  .bold-label {
    font-weight: bold;
  }
 
  @media (max-width: 767.98px) {
    .table tfoot .btn {
      width: 100%;
    }
    .btn-full-width {
        width: 100%;
      }
      .btn-full-width {
        width: 100%;
      }
  }