<div class="container mt-4">
  <form (ngSubmit)="onSubmit()" #datosPersonalesForm="ngForm">
    <h3>Datos Personales</h3>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="formData.nombre">
      </div>
      <div class="col-md-4">
        <label for="apellidoP" class="form-label">Apellido P:</label>
        <input type="text" class="form-control" id="apellidoP" name="apellidoP" required [(ngModel)]="formData.apellidoP">
      </div>
      <div class="col-md-4">
        <label for="apellidoM" class="form-label">Apellido M:</label>
        <input type="text" class="form-control" id="apellidoM" name="apellidoM" required [(ngModel)]="formData.apellidoM">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="fechaNac" class="form-label">Fecha Nac:</label>
        <input type="date" class="form-control" id="fechaNac" name="fechaNac" required [(ngModel)]="formData.fechaNac">
      </div>
      <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo:</label>
        <select id="sexo" name="sexo" class="form-select" required [(ngModel)]="formData.sexo">
          <option value="">Seleccionar</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="estadoCivil" class="form-label">Estado Civil:</label>
        <select id="estadoCivil" name="estadoCivil" class="form-select" required [(ngModel)]="formData.estadoCivil">
          <option value="">Seleccionar</option>
          <option value="soltero">Soltero</option>
          <option value="casado">Casado</option>
          <option value="divorciado">Divorciado</option>
          <option value="viudo">Viudo</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="tipoSangre" class="form-label">Tipo Sangre:</label>
        <input type="text" class="form-control" id="tipoSangre" name="tipoSangre" required [(ngModel)]="formData.tipoSangre">
      </div>

    <div class="col-md-4">
  <label for="telefono" class="form-label">Teléfono:</label>
  <input type="text" class="form-control" id="telefono" name="telefono" required
         [(ngModel)]="formData.telefono" (keypress)="validateNumberInput($event)">
</div>

      <div class="col-md-4">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="formData.email">
      </div>
    </div>

    <div class="row">
      <div class="col text-end">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>

    <!-- Mensaje de advertencia -->
    <div *ngIf="showWarning" class="alert alert-danger mt-3">
      No se puede continuar sin que todos los campos estén llenos.
    </div>
  </form>

  <!-- Segunda sección: Llenar Ficha Médica -->
  <form *ngIf="showMedicalForm" class="mt-5">
    <h3>Llenar Ficha Médica</h3>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="escolaridad" class="form-label">Escolaridad:</label>
        <input type="text" class="form-control" id="escolaridad" name="escolaridad">
      </div>
      <div class="col-md-4">
        <label for="ocupacion" class="form-label">Ocupación:</label>
        <input type="text" class="form-control" id="ocupacion" name="ocupacion">
      </div>
      <div class="col-md-4">
        <label for="religion" class="form-label">Religión:</label>
        <input type="text" class="form-control" id="religion" name="religion">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="nacionalidad" class="form-label">Nacionalidad:</label>
        <input type="text" class="form-control" id="nacionalidad" name="nacionalidad">
      </div>
      <div class="col-md-4">
        <label for="telEmergencia" class="form-label">Tel. Emergencia:</label>
        <input type="tel" class="form-control" id="telEmergencia" name="telEmergencia">
      </div>
      <div class="col-md-4">
        <label for="nombreTel" class="form-label">Nombre Tel.:</label>
        <input type="text" class="form-control" id="nombreTel" name="nombreTel">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="residencia" class="form-label">Lugar de Residencia:</label>
        <input type="text" class="form-control" id="residencia" name="residencia">
      </div>
      <div class="col-md-4">
        <label for="remision" class="form-label">Remisión:</label>
        <input type="text" class="form-control" id="remision" name="remision">
      </div>
    </div>
  </form>
  <div class="container mt-5">
    <div class="d-flex align-items-center mb-4">
      <h4 class="me-3">PX Deportivo</h4>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="switchDeportivo" [(ngModel)]="formData.pacienteDeportivo">
        <label class="form-check-label" for="switchDeportivo">{{ formData.pacienteDeportivo ? '' : 'Si' }}</label>
      </div>
    </div>

<div *ngIf="formData.pacienteDeportivo">
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="disciplina" class="form-label">Disciplina:</label>
      <input type="text" class="form-control" id="disciplina" name="disciplina" [(ngModel)]="formData.disciplina">
    </div>
    <div class="col-md-4">
      <label for="deporteAltoRendimiento" class="form-label">Deporte de Alto Rendimiento:</label>
      <input type="text" class="form-control" id="deporteAltoRendimiento" name="deporteAltoRendimiento" [(ngModel)]="formData.deporteAltoRendimiento">
    </div>
    <div class="col-md-4">
      <label for="arteCompetitivo" class="form-label">Arte Competitivo:</label>
      <input type="text" class="form-control" id="arteCompetitivo" name="arteCompetitivo" [(ngModel)]="formData.arteCompetitivo">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="categoria" class="form-label">Categoría:</label>
      <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="formData.categoria">
    </div>
    <div class="col-md-4">
      <label for="nombreEntrenador" class="form-label">Nombre del Entrenador:</label>
      <input type="text" class="form-control" id="nombreEntrenador" name="nombreEntrenador" [(ngModel)]="formData.nombreEntrenador">
    </div>
    <div class="col-md-4">
      <label for="clubLiga" class="form-label">Club o Liga:</label>
      <input type="text" class="form-control" id="clubLiga" name="clubLiga" [(ngModel)]="formData.clubLiga">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="motivoConsulta" class="form-label">Motivo Consulta:</label>
      <input type="text" class="form-control" id="motivoConsulta" name="motivoConsulta" [(ngModel)]="formData.motivoConsulta">
    </div>
    <div class="col-md-4">
      <label for="diagnosticoMedico" class="form-label">Diagnóstico Médico:</label>
      <input type="text" class="form-control" id="diagnosticoMedico" name="diagnosticoMedico" [(ngModel)]="formData.diagnosticoMedico">
    </div>
    <div class="col-md-4">
      <label for="mecanismoLesion" class="form-label">Mecanismo de Lesión:</label>
      <input type="text" class="form-control" id="mecanismoLesion" name="mecanismoLesion" [(ngModel)]="formData.mecanismoLesion">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="tratamientosPrevios" class="form-label">Tratamientos Previos:</label>
      <input type="text" class="form-control" id="tratamientosPrevios" name="tratamientosPrevios" [(ngModel)]="formData.tratamientosPrevios">
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h5>Medidas Físicas</h5>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="peso" class="form-label">Peso:</label>
          <input type="number" class="form-control" id="peso" name="peso" [(ngModel)]="formData.peso">
        </div>
        <div class="col-md-6">
          <label for="talla" class="form-label">Talla:</label>
          <input type="number" class="form-control" id="talla" name="talla" [(ngModel)]="formData.talla">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="estatura" class="form-label">Estatura:</label>
          <input type="number" class="form-control" id="estatura" name="estatura" [(ngModel)]="formData.estatura">
        </div>
        <div class="col-md-6">
          <label for="imc" class="form-label">IMC:</label>
          <input type="number" class="form-control" id="imc" name="imc" [(ngModel)]="formData.imc">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Signos Vitales</h5>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="temperatura" class="form-label">Temperatura:</label>
          <input type="number" class="form-control" id="temperatura" name="temperatura" [(ngModel)]="formData.temperatura">
        </div>
        <div class="col-md-6">
          <label for="fCardiaca" class="form-label">F. Cardiaca:</label>
          <input type="number" class="form-control" id="fCardiaca" name="fCardiaca" [(ngModel)]="formData.fCardiaca">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="fRespiratoria" class="form-label">F. Respiratoria:</label>
          <input type="number" class="form-control" id="fRespiratoria" name="fRespiratoria" [(ngModel)]="formData.fRespiratoria">
        </div>
        <div class="col-md-6">
          <label for="tensionArterial" class="form-label">Tensión Arterial:</label>
          <input type="text" class="form-control" id="tensionArterial" name="tensionArterial" [(ngModel)]="formData.tensionArterial">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h4>Antecedentes Heredofamiliares</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Si / No</th>
        <th>Parentesco</th>
        <th>Especifique</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Diabetes</td>
        <td class="text-center">
          <input type="checkbox" name="diabetesSiNo" [(ngModel)]="formData.diabetesSiNo">
        </td>
        <td><input type="text" class="form-control" name="diabetesParentesco" [(ngModel)]="formData.diabetesParentesco"></td>
        <td><input type="text" class="form-control" name="diabetesEspecifique" [(ngModel)]="formData.diabetesEspecifique"></td>
      </tr>
      <tr>
        <td>Neurológica</td>
        <td class="text-center">
          <input type="checkbox" name="neurologicaSiNo" [(ngModel)]="formData.neurologicaSiNo">
        </td>
        <td><input type="text" class="form-control" name="neurologicaParentesco" [(ngModel)]="formData.neurologicaParentesco"></td>
        <td><input type="text" class="form-control" name="neurologicaEspecifique" [(ngModel)]="formData.neurologicaEspecifique"></td>
      </tr>
      <tr>
        <td>HAS</td>
        <td class="text-center">
          <input type="checkbox" name="hasSiNo" [(ngModel)]="formData.hasSiNo">
        </td>
        <td><input type="text" class="form-control" name="hasParentesco" [(ngModel)]="formData.hasParentesco"></td>
        <td><input type="text" class="form-control" name="hasEspecifique" [(ngModel)]="formData.hasEspecifique"></td>
      </tr>
      <tr>
        <td>Neoplasias</td>
        <td class="text-center">
          <input type="checkbox" name="neoplasiasSiNo" [(ngModel)]="formData.neoplasiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="neoplasiasParentesco" [(ngModel)]="formData.neoplasiasParentesco"></td>
        <td><input type="text" class="form-control" name="neoplasiasEspecifique" [(ngModel)]="formData.neoplasiasEspecifique"></td>
      </tr>
      <tr>
        <td>Cardiopatías</td>
        <td class="text-center">
          <input type="checkbox" name="cardiopatiasSiNo" [(ngModel)]="formData.cardiopatiasSiNo">
        </td>
        <td><input type="text" class="form-control" name="cardiopatiasParentesco" [(ngModel)]="formData.cardiopatiasParentesco"></td>
        <td><input type="text" class="form-control" name="cardiopatiasEspecifique" [(ngModel)]="formData.cardiopatiasEspecifique"></td>
      </tr>
      <tr>
        <td>Reumáticas</td>
        <td class="text-center">
          <input type="checkbox" name="reumaticasSiNo" [(ngModel)]="formData.reumaticasSiNo">
        </td>
        <td><input type="text" class="form-control" name="reumaticasParentesco" [(ngModel)]="formData.reumaticasParentesco"></td>
        <td><input type="text" class="form-control" name="reumaticasEspecifique" [(ngModel)]="formData.reumaticasEspecifique"></td>
      </tr>
      <tr>
        <td>Respiratorias</td>
        <td class="text-center">
          <input type="checkbox" name="respiratoriasSiNo" [(ngModel)]="formData.respiratoriasSiNo">
        </td>
        <td><input type="text" class="form-control" name="respiratoriasParentesco" [(ngModel)]="formData.respiratoriasParentesco"></td>
        <td><input type="text" class="form-control" name="respiratoriasEspecifique" [(ngModel)]="formData.respiratoriasEspecifique"></td>
      </tr>
      <tr>
        <td>Genéricas</td>
        <td class="text-center">
          <input type="checkbox" name="genericasSiNo" [(ngModel)]="formData.genericasSiNo">
        </td>
        <td><input type="text" class="form-control" name="genericasParentesco" [(ngModel)]="formData.genericasParentesco"></td>
        <td><input type="text" class="form-control" name="genericasEspecifique" [(ngModel)]="formData.genericasEspecifique"></td>
      </tr>
      <tr>
        <td>Endocrinológicas</td>
        <td class="text-center">
          <input type="checkbox" name="endocrinologicasSiNo" [(ngModel)]="formData.endocrinologicasSiNo">
        </td>
        <td><input type="text" class="form-control" name="endocrinologicasParentesco" [(ngModel)]="formData.endocrinologicasParentesco"></td>
        <td><input type="text" class="form-control" name="endocrinologicasEspecifique" [(ngModel)]="formData.endocrinologicasEspecifique"></td>
      </tr>
      <tr>
        <td>Otras</td>
        <td class="text-center">
          <input type="checkbox" name="otrasSiNo" [(ngModel)]="formData.otrasSiNo">
        </td>
        <td><input type="text" class="form-control" name="otrasParentesco" [(ngModel)]="formData.otrasParentesco"></td>
        <td><input type="text" class="form-control" name="otrasEspecifique" [(ngModel)]="formData.otrasEspecifique"></td>
      </tr>
    </tbody>
  </table>
</div>
 </div>
 <div class="container mt-5">
  <h4>Antecedentes No Patológicos</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Antecedentes</th>
        <th>Si / No</th>
        <th>Parentesco</th>
        <th>Especifique</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Toxicomanías</td>
        <td class="text-center">
          <input type="checkbox" name="toxicomaniasSiNo" [(ngModel)]="formData.toxicomaniasSiNo">
        </td>
        <td><input type="text" class="form-control" name="toxicomaniasParentesco" [(ngModel)]="formData.toxicomaniasParentesco"></td>
        <td><input type="text" class="form-control" name="toxicomaniasEspecifique" [(ngModel)]="formData.toxicomaniasEspecifique"></td>
      </tr>
      <tr>
        <td>Inmunizaciones</td>
        <td class="text-center">
          <input type="checkbox" name="inmunizacionesSiNo" [(ngModel)]="formData.inmunizacionesSiNo">
        </td>
        <td><input type="text" class="form-control" name="inmunizacionesParentesco" [(ngModel)]="formData.inmunizacionesParentesco"></td>
        <td><input type="text" class="form-control" name="inmunizacionesEspecifique" [(ngModel)]="formData.inmunizacionesEspecifique"></td>
      </tr>
      <tr>
        <td>Automedicación</td>
        <td class="text-center">
          <input type="checkbox" name="automedicacionSiNo" [(ngModel)]="formData.automedicacionSiNo">
        </td>
        <td><input type="text" class="form-control" name="automedicacionParentesco" [(ngModel)]="formData.automedicacionParentesco"></td>
        <td><input type="text" class="form-control" name="automedicacionEspecifique" [(ngModel)]="formData.automedicacionEspecifique"></td>
      </tr>
      <tr>
        <td>Trastornos del sueño</td>
        <td class="text-center">
          <input type="checkbox" name="trastornosSuenoSiNo" [(ngModel)]="formData.trastornosSuenoSiNo">
        </td>
        <td><input type="text" class="form-control" name="trastornosSuenoParentesco" [(ngModel)]="formData.trastornosSuenoParentesco"></td>
        <td><input type="text" class="form-control" name="trastornosSuenoEspecifique" [(ngModel)]="formData.trastornosSuenoEspecifique"></td>
      </tr>
      <tr>
        <td>Alimentación</td>
        <td class="text-center">
          <input type="checkbox" name="alimentacionSiNo" [(ngModel)]="formData.alimentacionSiNo">
        </td>
        <td><input type="text" class="form-control" name="alimentacionParentesco" [(ngModel)]="formData.alimentacionParentesco"></td>
        <td><input type="text" class="form-control" name="alimentacionEspecifique" [(ngModel)]="formData.alimentacionEspecifique"></td>
      </tr>
      <tr>
        <td>Habitación</td>
        <td class="text-center">
          <input type="checkbox" name="habitacionSiNo" [(ngModel)]="formData.habitacionSiNo">
        </td>
        <td><input type="text" class="form-control" name="habitacionParentesco" [(ngModel)]="formData.habitacionParentesco"></td>
        <td><input type="text" class="form-control" name="habitacionEspecifique" [(ngModel)]="formData.habitacionEspecifique"></td>
      </tr>
      <tr>
        <td>Hábitos higiénicos</td>
        <td class="text-center">
          <input type="checkbox" name="habitosHigienicosSiNo" [(ngModel)]="formData.habitosHigienicosSiNo">
        </td>
        <td><input type="text" class="form-control" name="habitosHigienicosParentesco" [(ngModel)]="formData.habitosHigienicosParentesco"></td>
        <td><input type="text" class="form-control" name="habitosHigienicosEspecifique" [(ngModel)]="formData.habitosHigienicosEspecifique"></td>
      </tr>
      <tr>
        <td>Zoonosis</td>
        <td class="text-center">
          <input type="checkbox" name="zoonosisSiNo" [(ngModel)]="formData.zoonosisSiNo">
        </td>
        <td><input type="text" class="form-control" name="zoonosisParentesco" [(ngModel)]="formData.zoonosisParentesco"></td>
        <td><input type="text" class="form-control" name="zoonosisEspecifique" [(ngModel)]="formData.zoonosisEspecifique"></td>
      </tr>
      <tr>
        <td>Actividad física</td>
        <td class="text-center">
          <input type="checkbox" name="actividadFisicaSiNo" [(ngModel)]="formData.actividadFisicaSiNo">
        </td>
        <td><input type="text" class="form-control" name="actividadFisicaParentesco" [(ngModel)]="formData.actividadFisicaParentesco"></td>
        <td><input type="text" class="form-control" name="actividadFisicaEspecifique" [(ngModel)]="formData.actividadFisicaEspecifique"></td>
      </tr>
      <tr>
        <td>Ocupación</td>
        <td class="text-center">
          <input type="checkbox" name="ocupacionSiNo" [(ngModel)]="formData.ocupacionSiNo">
        </td>
        <td><input type="text" class="form-control" name="ocupacionParentesco" [(ngModel)]="formData.ocupacionParentesco"></td>
        <td><input type="text" class="form-control" name="ocupacionEspecifique" [(ngModel)]="formData.ocupacionEspecifique"></td>
      </tr>
      <tr>
        <td>Actividades de ocio</td>
        <td class="text-center">
          <input type="checkbox" name="actividadesOcioSiNo" [(ngModel)]="formData.actividadesOcioSiNo">
        </td>
        <td><input type="text" class="form-control" name="actividadesOcioParentesco" [(ngModel)]="formData.actividadesOcioParentesco"></td>
        <td><input type="text" class="form-control" name="actividadesOcioEspecifique" [(ngModel)]="formData.actividadesOcioEspecifique"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-5">
  <div id="tableContainer" style="display: none;">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Antecedente</th>
          <th>Si / No</th>
          <th>Parentesco</th>
          <th>Especifique</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Metrorragia</td>
          <td class="text-center">
            <input type="checkbox" name="metrorragiaSiNo" [(ngModel)]="formData.metrorragiaSiNo">
          </td>
          <td><input type="text" class="form-control" name="metrorragiaParentesco" [(ngModel)]="formData.metrorragiaParentesco"></td>
          <td><input type="text" class="form-control" name="metrorragiaEspecifique" [(ngModel)]="formData.metrorragiaEspecifique"></td>
        </tr>
        <tr>
          <td>Dismenorreas</td>
          <td class="text-center">
            <input type="checkbox" name="dismenorreasSiNo" [(ngModel)]="formData.dismenorreasSiNo">
          </td>
          <td><input type="text" class="form-control" name="dismenorreasParentesco" [(ngModel)]="formData.dismenorreasParentesco"></td>
          <td><input type="text" class="form-control" name="dismenorreasEspecifique" [(ngModel)]="formData.dismenorreasEspecifique"></td>
        </tr>
        <tr>
          <td>Gesta actual</td>
          <td class="text-center">
            <input type="checkbox" name="gestaActualSiNo" [(ngModel)]="formData.gestaActualSiNo">
          </td>
          <td><input type="text" class="form-control" name="gestaActualParentesco" [(ngModel)]="formData.gestaActualParentesco"></td>
          <td><input type="text" class="form-control" name="gestaActualEspecifique" [(ngModel)]="formData.gestaActualEspecifique"></td>
        </tr>
        <tr>
          <td>Número de gestas</td>
          <td class="text-center">
            <input type="checkbox" name="numeroGestasSiNo" [(ngModel)]="formData.numeroGestasSiNo">
          </td>
          <td><input type="text" class="form-control" name="numeroGestasParentesco" [(ngModel)]="formData.numeroGestasParentesco"></td>
          <td><input type="text" class="form-control" name="numeroGestasEspecifique" [(ngModel)]="formData.numeroGestasEspecifique"></td>
        </tr>
        <tr>
          <td>Número de partos</td>
          <td class="text-center">
            <input type="checkbox" name="numeroPartosSiNo" [(ngModel)]="formData.numeroPartosSiNo">
          </td>
          <td><input type="text" class="form-control" name="numeroPartosParentesco" [(ngModel)]="formData.numeroPartosParentesco"></td>
          <td><input type="text" class="form-control" name="numeroPartosEspecifique" [(ngModel)]="formData.numeroPartosEspecifique"></td>
        </tr>
        <tr>
          <td>Cesáreas</td>
          <td class="text-center">
            <input type="checkbox" name="cesareasSiNo" [(ngModel)]="formData.cesareasSiNo">
          </td>
          <td><input type="text" class="form-control" name="cesareasParentesco" [(ngModel)]="formData.cesareasParentesco"></td>
          <td><input type="text" class="form-control" name="cesareasEspecifique" [(ngModel)]="formData.cesareasEspecifique"></td>
        </tr>
        <tr>
          <td>Aborto</td>
          <td class="text-center">
            <input type="checkbox" name="abortoSiNo" [(ngModel)]="formData.abortoSiNo">
          </td>
          <td><input type="text" class="form-control" name="abortoParentesco" [(ngModel)]="formData.abortoParentesco"></td>
          <td><input type="text" class="form-control" name="abortoEspecifique" [(ngModel)]="formData.abortoEspecifique"></td>
        </tr>
        <tr>
          <td>Núm de productos nacidos vivos</td>
          <td class="text-center">
            <input type="checkbox" name="productosNacidosVivosSiNo" [(ngModel)]="formData.productosNacidosVivosSiNo">
          </td>
          <td><input type="text" class="form-control" name="productosNacidosVivosParentesco" [(ngModel)]="formData.productosNacidosVivosParentesco"></td>
          <td><input type="text" class="form-control" name="productosNacidosVivosEspecifique" [(ngModel)]="formData.productosNacidosVivosEspecifique"></td>
        </tr>
        <tr>
          <td>Menopausia</td>
          <td class="text-center">
            <input type="checkbox" name="menopausiaSiNo" [(ngModel)]="formData.menopausiaSiNo">
          </td>
          <td><input type="text" class="form-control" name="menopausiaParentesco" [(ngModel)]="formData.menopausiaParentesco"></td>
          <td><input type="text" class="form-control" name="menopausiaEspecifique" [(ngModel)]="formData.menopausiaEspecifique"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex align-items-center mb-3">
    <h4 class="me-3">En caso de ser Mujer (Antecedentes Gineco-Obstétricos)</h4>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="switchGinecoObstetrico" [(ngModel)]="showTable">
      <label class="form-check-label" for="switchGinecoObstetrico">{{ showTable ? '' : 'Sí' }}</label>
    </div>
  </div>

  <div *ngIf="showTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Antecedente</th>
          <th>Si / No</th>
          <th>Parentesco</th>
          <th>Especifique</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Metrorragia</td>
          <td><input type="checkbox" [(ngModel)]="formData.metrorragiaSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.metrorragiaParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.metrorragiaEspecifique"></td>
        </tr>
        <tr>
          <td>Dismenorreas</td>
          <td><input type="checkbox" [(ngModel)]="formData.dismenorreasSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.dismenorreasParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.dismenorreasEspecifique"></td>
        </tr>
        <tr>
          <td>Gesta actual</td>
          <td><input type="checkbox" [(ngModel)]="formData.gestaActualSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.gestaActualParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.gestaActualEspecifique"></td>
        </tr>
        <tr>
          <td>Número de gestas</td>
          <td><input type="checkbox" [(ngModel)]="formData.numeroGestasSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.numeroGestasParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.numeroGestasEspecifique"></td>
        </tr>
        <tr>
          <td>Número de partos</td>
          <td><input type="checkbox" [(ngModel)]="formData.numeroPartosSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.numeroPartosParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.numeroPartosEspecifique"></td>
        </tr>
        <tr>
          <td>Cesáreas</td>
          <td><input type="checkbox" [(ngModel)]="formData.cesareasSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.cesareasParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.cesareasEspecifique"></td>
        </tr>
        <tr>
          <td>Aborto</td>
          <td><input type="checkbox" [(ngModel)]="formData.abortoSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.abortoParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.abortoEspecifique"></td>
        </tr>
        <tr>
          <td>Núm de productos nacidos vivos</td>
          <td><input type="checkbox" [(ngModel)]="formData.nacidosVivosSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.nacidosVivosParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.nacidosVivosEspecifique"></td>
        </tr>
        <tr>
          <td>Menopausia</td>
          <td><input type="checkbox" [(ngModel)]="formData.menopausiaSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.menopausiaParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.menopausiaEspecifique"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
<div class="container mt-5">
  <div class="d-flex align-items-center mb-3">
    <h4 class="me-3">En caso de ser Pediátrico (Antecedentes Perinatales)</h4>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="switchPerinatales" [(ngModel)]="showPerinatalesTable">
      <label class="form-check-label" for="switchPerinatales">{{ showPerinatalesTable ? 'No' : 'Sí' }}</label>
    </div>
  </div>

  <div *ngIf="showPerinatalesTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Antecedente</th>
          <th>Si / No</th>
          <th>Parentesco</th>
          <th>Especifique</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Núm de embarazo</td>
          <td><input type="checkbox" [(ngModel)]="formData.numEmbarazoSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.numEmbarazoParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.numEmbarazoEspecifique"></td>
        </tr>
        <tr>
          <td>Embarazo múltiple</td>
          <td><input type="checkbox" [(ngModel)]="formData.embarazoMultipleSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.embarazoMultipleParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.embarazoMultipleEspecifique"></td>
        </tr>
        <tr>
          <td>Alimentación durante el embarazo</td>
          <td><input type="checkbox" [(ngModel)]="formData.alimentacionEmbarazoSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.alimentacionEmbarazoParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.alimentacionEmbarazoEspecifique"></td>
        </tr>
        <tr>
          <td>Control perinatal</td>
          <td><input type="checkbox" [(ngModel)]="formData.controlPerinatalSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.controlPerinatalParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.controlPerinatalEspecifique"></td>
        </tr>
        <tr>
          <td>Periodo de vida uterina</td>
          <td><input type="checkbox" [(ngModel)]="formData.vidaUterinaSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.vidaUterinaParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.vidaUterinaEspecifique"></td>
        </tr>
        <tr>
          <td>Parto o cesárea</td>
          <td><input type="checkbox" [(ngModel)]="formData.partoCesareaSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.partoCesareaParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.partoCesareaEspecifique"></td>
        </tr>
        <tr>
          <td>Problemas durante el embarazo o parto</td>
          <td><input type="checkbox" [(ngModel)]="formData.problemasEmbarazoPartoSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.problemasEmbarazoPartoParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.problemasEmbarazoPartoEspecifique"></td>
        </tr>
        <tr>
          <td>Traumatismo durante el embarazo o parto</td>
          <td><input type="checkbox" [(ngModel)]="formData.traumatismoEmbarazoPartoSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.traumatismoEmbarazoPartoParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.traumatismoEmbarazoPartoEspecifique"></td>
        </tr>
        <tr>
          <td>Ameritó maniobras de reanimación especiales</td>
          <td><input type="checkbox" [(ngModel)]="formData.maniobrasReanimacionSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.maniobrasReanimacionParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.maniobrasReanimacionEspecifique"></td>
        </tr>
        <tr>
          <td>Ameritó estar en incubadora</td>
          <td><input type="checkbox" [(ngModel)]="formData.incubadoraSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.incubadoraParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.incubadoraEspecifique"></td>
        </tr>
        <tr>
          <td>Peso y medida del niño</td>
          <td><input type="checkbox" [(ngModel)]="formData.pesoMedidaSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.pesoMedidaParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.pesoMedidaEspecifique"></td>
        </tr>
        <tr>
          <td>Tamiz metabólico: Calificación</td>
          <td><input type="checkbox" [(ngModel)]="formData.tamizMetabolicoSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.tamizMetabolicoParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.tamizMetabolicoEspecifique"></td>
        </tr>
        <tr>
          <td>Puntaje de la escala de APGAR</td>
          <td><input type="checkbox" [(ngModel)]="formData.puntajeApgarSiNo"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.puntajeApgarParentesco"></td>
          <td><input type="text" class="form-control" [(ngModel)]="formData.puntajeApgarEspecifique"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex align-items-center mb-3">
    <h4 class="me-3">Observaciones</h4>
    <input type="text" class="form-control" [(ngModel)]="observaciones" >
  </div>
</div>



 
 
    
  

